body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  line-height: 1.7;
  color: var(--color-white);
}



.heading__main {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--color-pink-light);
  text-transform: uppercase;
}


.heading__sub {
  font-size: 5rem;
  color: var(--color-pink-light);
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 4rem;
  padding-left: 1rem;
}


