body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  line-height: 1.7;
  color: var(--color-white);
}


.heading__sub {
  font-size: 5rem;
  color: var(--color-pink-light);
  text-transform: uppercase;
  align-self: flex-start;
  padding: 3rem 4rem;
  padding-left: 1rem;
}


