
/* abstracts */
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
/* fonts */
@import 'base/google-fonts';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
/* components */

/* layout */

@import 'layout/header';

/* pages */
@import 'pages/home';


.side-nav__icon {
  fill: black;
  width: 4rem;
  height: 4rem;
}