
:root {
  // colors
  --color-white: #F0EBEE;
  --color-grey-dark: #777;
  --color-grey-dark-2: #545454;
  --color-grey-dark-3: #878787;
  --color-pink-light: #D075AF;
  --color-pink-dark : #B35A93;
  --color-purple-dark: #6F3459;


  // graph colors 
  --color-graph-pink-1: #F85F61;
  --color-graph-pink-2: #F88DB0;
  --color-graph-blue-1: #4C73E8;
  --color-graph-blue-2: #41BBEE;
  --color-graph-green: #6DCF3A;
  --color-graph-orange: #FDAC4D;
  --color-graph-yellow: #EEE035;


  // font-size
  --default-font-size: 1.6rem;
  --font-size-small: 1rem;
}
