.form {
  background-image: linear-gradient(to left, var(--color-pink-light), var(--color-pink-dark));
  padding: 4rem 6rem;
  height: 100%;
  flex: 1;
  &__group:not(:last-child) {
    margin-bottom: 3rem;
  }
  &__input {
    padding: 1.5rem 2rem 0 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color-pink-light);
    background: transparent;
    font-size: 1.6rem;
    color: var(--color-white);
    transition: all .3s;
    &:focus,
    &:focus:valid {
      outline: none;
      border-bottom: 2px solid #fff;
    }
    &:focus:invalid {
      border-bottom: 2px solid red;
      background: transparent;
    }

    &::-webkit-input-placeholder {
      color: var(--color-white);
      text-transform: uppercase;
    }
  
  }


  
  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(-.9rem);
  }
  &__label {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    transform: translateY(-.1rem);
    transition: opacity .1s, transform .2s;
    letter-spacing: 1px;
  }
  // used to align btn to center in contact form
  &__group--contact-btn {
    text-align: center;
  }

}