.header {
  // header styles
  width: 100%;
  background-color: var(--color-pink-dark);
  display: flex;
  align-items: center;
  border-bottom: 4px solid var(--color-pink-light); 
  position: fixed;
  z-index:9999;
  height: 10rem;
  
  @include respond(tab-port) {
    flex-wrap: wrap;
    height: 15rem;
  }

  @include respond(phone) {
    height: 12rem;
  }

    @include respond(phone-small) {
      height: 25rem;
    }
  
  // header name
  &__name {
    margin-left: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  /**
   * 
   * nav section
   */
  &__nav {
    margin-right: auto;
    flex: 0 0 40%;
    align-self: flex-end;

    @include respond(tab-port) {
      order: 1;
      flex: 0 0 100%;
    }
  
  }
  &__list {
    list-style-type: none;
    display: flex;
    height: 100%;
      @include respond(phone-small) {
        flex-wrap: wrap;
      }
  }
  &__item {
    transition: all .2s;
    cursor: pointer;
    flex: 1;

      @include respond(phone-small) {
        flex: 0 0 50%;
      }
  }
  &__link {
    color: var(--color-white);
    position: relative;
    overflow: hidden;
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: capitalize;
      font-size: 3rem;
      padding:1rem;
      padding-bottom: 2rem;
      height: 100%;
      width: 100%;
      @include flex-center;
      transition: color .2s .1s, background-color .2s ease;

        @include respond(tab-land) {
          font-size: 2.5rem;
          padding-bottom: 2.5rem;
        }

      @include respond(tab-port) {
        padding-bottom: 1rem;
      }

        @include respond(phone-small) {
          font-size: 2rem;
        }
    
    }
    &:active {
      letter-spacing: 1px;
    }
    &:hover {
      color: var(--color-purple-dark);
      background-color: var(--color-pink-light);
    }
  }
  &__link::after,
  &__link::before {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    transition: .2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, .5));
  }
  &__link::before {
    top: -1rem;
  }
  &__link::after {
    bottom: -1rem;
  }
  &__link:active::before {
    top: .2rem;
  }
  &__link:active::after {
    bottom: .3rem;
  }
 
  /**
   * search bar styles
   */
  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    position: relative;

    @include respond(tab-port) {
      margin-left: auto;
      margin-right: 2rem;
      margin-top: 1rem;
    }

    @include respond(phone-small) {
     flex: 0 0 100%;
     padding :1rem;
    }
  }
  &__search-input {
    color: var(--color-white);
    border: none;
    border-bottom: 1px solid var(--color-pink-light);
    padding: 1rem 2rem 0rem 0rem;
    margin-right: 1rem;
    background: transparent;
    font-size: 1.6rem;
    transition: all .5s ;

      @include respond(phone-small) {
        flex: 0 0 70%;
      }

    &:focus {
      outline: none;
      border-bottom-color: var(--color-white);
      
        @include respond(phone-small) {
          flex: 0 0 80%;
        }
    }
    &::-webkit-input-placeholder {
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__form-group {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 1rem;
  }

  &__placeholder-text {
    display: block;
    transition: all .2s;
    position: absolute;
    margin-top: -1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all .3s;
    left: 1rem;

      @include respond(phone-small) {
        left: 3rem;
      }
    
  }

   &__search-input:placeholder-shown + &__placeholder-text {
     opacity: 0;
     visibility: hidden;
     transform: translateY(2.3rem);
   }

   &__search-input:not(:placeholder-shown) {
     flex: 0 0 80%;
   }

   &__search-input:not(:placeholder-shown)~&__icon {
     fill: var(--color-white);
   }



  &__icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: -3px;
    border: 1px solid var(--color-pink-light);
    border-radius: 2px;
    padding: .2rem;
    box-sizing: content-box;
    fill: var(--color-pink-light);
    cursor:pointer;

    &:hover {
      fill: var(--color-white);
    }
  }
}